In [10]:
# dependencies
import random
import pandas as pd
import requests
import json
import numpy as np
import glob
import json

In [11]:
# combine all citi bikeshare csv into one csv

path = "raw_data"
all_files = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
timeYr = []

for file_ in all_files:
    df = pd.read_csv(file_,index_col=None, header=0)
    timeYr.append(df)
frame = pd.concat(timeYr)
frame.to_csv("raw_data/data_merged.csv", index=False)

In [12]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [13]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [14]:
df.count()

tripduration               11694
starttime                  11694
stoptime                   11694
start station id           11694
start station name         11694
start station latitude     11694
start station longitude    11694
end station id             11694
end station name           11694
end station latitude       11694
end station longitude      11694
bikeid                     11694
usertype                   11694
birth year                 11694
gender                     11694
dtype: int64

In [15]:
df['Year'] = df["stoptime"].str[:4]
df['Month'] = df['stoptime'].str[5:7]
df['Date'] = df["stoptime"].str[:10]
df['Time_Hr'] = df["stoptime"].str[11:13]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Year,Month,Date,Time_Hr
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2,2020,12,2020-12-01,00
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2,2020,12,2020-12-01,00
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1,2020,12,2020-12-01,00
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1,2020,12,2020-12-01,00
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1,2020,12,2020-12-01,01

In [16]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'Year', 'Month', 'Date', 'Time_Hr'],
      dtype='object')

In [17]:
df.count()

tripduration               11694
starttime                  11694
stoptime                   11694
start station id           11694
start station name         11694
start station latitude     11694
start station longitude    11694
end station id             11694
end station name           11694
end station latitude       11694
end station longitude      11694
bikeid                     11694
usertype                   11694
birth year                 11694
gender                     11694
Year                       11694
Month                      11694
Date                       11694
Time_Hr                    11694
dtype: int64